@import url('http://fonts.cdnfonts.com/css/product-sans');
.LoginScreen{
    position: relative;
    width: 1366px;
    height: 768px;
  
    background: #FFFFFF;
  }
  
  .LoginPicture{
    position: absolute;
    width: 597px;
    height: 766px;
    left: 0px;
    top: 0px;
  }
  
  .LoginInputs{
    position: absolute;
    width: 406.18px;
    height: 535px;
    left: 788px;
    top: 136px;
  }
  
  .LoginHeader{
    position: absolute;
    font-family: 'Product Sans', sans-serif;
                                                  
                                                  
    font-size: 36px;
    line-height: 44px;
    left: 116px;
    
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #474EBB;
  }
  .LoginPasswordReset{
    position: absolute;
  
  
    font-family: 'Product Sans', sans-serif;
    font-size: 16px;
    line-height: 19px;
    bottom: 0px;
    left: 75px;
    right:74.18px;
  
  
   
    text-align: center;
    letter-spacing: 0.035em;
  
    color: #000000;
  }
  .LoginTextAboveInput{
    position: absolute;
  
  
    font-family: 'Product Sans', sans-serif;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    
    
    align-items: center;
    text-align: center;
  
    color: rgba(0, 0, 0, 0.87);
  
  }
  
  .LoginInputBorder{
    position: absolute;
    
    width: 402px;
    height: 56px;
  
    background: #FFFFFF;
    border: 2px solid #B8B8B8 ;
  
    
    border-radius: 8px;
  
    font-family: 'Product Sans', sans-serif;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.035em;
  
    color: #828282;

  
  }
  .LoginInputBorder:focus{
    outline: none !important;
    border: 2px solid #474EBB;
    color: #474EBB;
  }
  
  .LoginButton{
  
    position:absolute;
  
    top: 403px;
    left: 75px;
  
    width: 257px;
    height: 48px;
  
    background: #04347F;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    font-family: 'Product Sans', sans-serif;
    border-radius: 8px;
    border: 0px;
    text-align: center;
    
  letter-spacing: 0.035em;
    color: #FFFFFF;
  }

